@{
    ViewBag.Title = "About";
}
<br/>
<h2>RideBike Project</h2>

<div class="jumbotron">
    
    <h3>Idea of RideBike Project</h3>
    <p>
        <img src="~/Content/Img/mtb/mtb_enduro.jpg" />
    </p>
    <p>
        Idea of RideBike Project is to unite bicycle riders in different teams, to create bicycle events and to participate in events not as separate rider but as a part of your team.
    </p>
    <p>
        Remember - we are stronger together.
    </p>

</div>
