@{
    ViewBag.Title = "RideBike";
}

<div class="jumbotron">
    <div class="image"><a href="https://www.redbull.com/au-en/danny-macaskill-kilimanjaro"><img width="380" height="250" src="~/Img/posts/danny-macaskill-kilimanjaro-mountain-of-greatness-red-bull-tv.jpg" /></a></div>
    @*<img src="~/Img/posts/danny-macaskill-kilimanjaro-mountain-of-greatness-red-bull-tv.jpg" />*@
    <h1>Watch Danny MacAskill and Hans Rey take on Kilimanjaro</h1>
    <p class="lead">Hans Rey, Danny MacAskill and Gerhard Czerner go on the mountain bike journey of a lifetime. Facing intense altitude challenges and health risks, they set out to conquer Mount Kilimanjaro by bike.</p>
    <div id="dialog">
        <iframe id="popup-youtube-player" src="https://www.youtube.com/embed/H_SQYykTpkg?enablejsapi=1&version=3&playerapiid=ytplayer" allowfullscreen="true" frameborder="0"></iframe>
    </div>
    <p><button id="dialogBtn" class="btn btn-primary btn-lg">Watch &raquo;</button></p>
</div>

@*https://www.redbull.tv/video/AP-1UMAHFU3S1W11/kilimanjaro-mountain-of-greatness*@

<div class="row">
    <div class="col-md-4">
        <div class="image">
            <a href="https://www.redbull.com/au-en/need-to-know-losinj-2018">
                <img width="380" height="250" src="~/Img/posts/post_1.jpg" />
            </a>
        </div>
        <h2>Here's what you need to know about the Lošinj DH World Cup</h2>
        <p>
            The opening round of the UCI Downhill Mountain Bike World Cup is almost upon us! Here’s everything you need to know about the first stop in Lošinj, Croatia.
        </p>
        @*<p><a class="btn btn-default" href=""> Read &raquo;</a></p>*@
    </div>
    <div class="col-md-4">
        <div class="image">
            <a href="https://www.redbull.com/au-en/brook-macdonald-dh-mtb-set-up-for-2018">
                <img width="380" height="250" src="~/Img/posts/post_2.jpg" />
            </a>
        </div>
        <h2>This is Brook Macdonald's MS Mondraker DH MTB set-up</h2>
        <p>
            The New Zealander ripper is back with the team where he made his name, and on a race-winning bike that he hopes will spur him on to more success.
        </p>
    </div>
    <div class="col-md-4">
        <div class="image">
            <a href="https://www.redbull.com/ca-en/riders-to-watch-at-uci-dh-world-cup-rd1-in-losinj">
                <img width="380" height="250" src="~/Img/posts/post_3.jpg" />
            </a>
        </div>
        <h2>These are the men poised to shake things up at the Lošinj DH World Cup</h2>
        <p>
            With anyone in the top 20 men capable of winning on any given day, these are the riders to watch out for at the opening round of the UCI Downhill World Cup in Croatia.
        </p>
        @*<p>@Html.ActionLink("Read >", "Register", "Account", routeValues: null, htmlAttributes: new { @class = "btn btn-default" })*@
        <!--a class="btn btn-default" href=""> Read &raquo;</!--a--></p>
    </div>
</div>
