body {
    background-image: url("Img/background/body_1.jpg");
    padding-top: 50px;
    padding-bottom: 20px;
    min-height: 900px;
}

.body-content {
    padding-left: 15px;
    padding-right: 15px;
    background-color: white !important;
}

.dl-horizontal dt {
    white-space: normal;
}

input,
select,
textarea {
    max-width: 280px;
}

.image {
    overflow: hidden;
}

.image img {
    -moz-transition: all 1s ease-out;
    -o-transition: all 1s ease-out;
    -webkit-transition: all 1s ease-out;
}

.image img:hover {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
}

.ui-dialog {
    border-color: #333333 !important;
}

.ui-dialog-titlebar {
    background-color: #3d3d3e !important;
}

.ui-dialog .ui-dialog-content {
    overflow: hidden !important;
}

#logo {
    height: 38px;
    width: auto;
}

.navbar-inverse .navbar-nav > li > a {
    font-size: 16px;
    padding-top: 25px !important;
}

#profimg img {
    height: 320px;
    width: auto;
    max-width: 510px;
}

#profimg {
    float: right;
}

#proftable {
    width:50% !important;
}

#proffon {
    min-height: 600px;
}

#google-calendar {
    border-width: 0;
    width: 1140px;
    height: 600px;
}

div.jtable-main-container > table.jtable > tbody > tr.jtable-data-row > td {
    padding: 10px;
    height: 50px;
}